.delete{
    padding-top: 2em;
}
 
.delete form {
    display: grid;
    width: 25%;
    margin: 0 auto;
}

.delete input, textarea {
    padding: 10px;
    margin-bottom: 20px;
}

.delete input[type=number] {
    width: 93%;
}
  
.delete textarea {
    height: 150px;
}

.delete button {
    width: 50%;
    height: 40px;
    margin:0 auto;
    border: 2px solid red;
    text-align: center;  
    font-size: 14px;
    background: red;
    color: white;
    border-radius: 7px;
    margin-top: 20px; 
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.5); 
}

.delete button:hover {
    color: red;
    background: transparent;
}
 
.danger {
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 20px;
    border-radius: 10px;
}

button:disabled {
    cursor: not-allowed;
}