<div class="edit">
    <h1 style="text-align: center">Edit Student Book</h1>
    <form [formGroup]="form" (submit)="edit()">

        <label for="title">Title</label>
        <input type="text" id="title" formControlName="title" />
        <div class="danger" *ngIf="f.title.touched && f.title.errors?.required">
            This field is required!
        </div>

        <label for="grade">Grade</label>
        <input type="number" id="grade" formControlName="grade" />
        <div class="danger" *ngIf="f.grade.touched && f.grade.errors?.required">
            This field is required!
        </div>
        <div class="danger" *ngIf="f.grade.errors?.min || f.grade.errors?.max">
            The grade must be between 1 and 12!
        </div>

        <label for="subject">Subject</label>
        <input type="text" id="subject" formControlName="subject" />
        <div class="danger" *ngIf="f.subject.touched && f.subject.errors?.required">
            This field is required!
        </div>

        <label for="author">Author</label>
        <input type="text" id="author" formControlName="author" />

        <label for="publisher">Publisher</label>
        <input type="text" id="publisher" formControlName="publisher" />
        <div class="danger" *ngIf="f.publisher.touched && f.publisher.errors?.required">
            This field is required!
        </div>

        <label for="year">Year</label>
        <input type="number" id="year" formControlName="year" />

        <label for="imageUrl">Image</label>
        <input type="text" id="imageUrl" formControlName="imageUrl" />
        <div class="danger" *ngIf="f.imageUrl.touched && f.imageUrl.errors?.required">
            This field is required!
        </div>

        <label for="price">Price</label>
        <input type="number" step="0.1" id="price" formControlName="price" />
        <div class="danger" *ngIf="f.price.touched && f.price.errors?.required">
            This field is required!
        </div>

        <label for="description">Description</label>
        <textarea id="description" formControlName="description"></textarea>
        <div class="danger" *ngIf="f.description.errors?.maxlength">
            The description should be at most {{f.description.errors.maxlength.requiredLength}} characters long!
        </div>

        <button type="submit" [disabled]="invalid">Edit</button>
    </form>
</div>

