.books {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.books:before,
.books:after {
    display: block;
    content: '';
    order:1000;
}

.books:before,
.books:after,
.book {
    flex: 0 0 24%;
}

.book {
    margin-bottom: 1.5%;
}