.site-header {
    background: #F1F1F1;
    color: #000;
    overflow: hidden;
    border-radius: 0.5em;
    display: flex;
    margin-bottom: 1.5em;
}

.site-header .site-title {
    font-size: 3em;
    padding: 0 0.5em;
}

.site-header a {
    display: block;
    color: #000;
    text-decoration: none;
}

.site-header nav, span {
    display: flex;
    margin-left: auto;
}

.site-header nav ul {
    display: flex;
}

.site-header nav li {
    list-style: none outside;
    display: flex;
    align-items: center;
}

.site-header nav a {
    display: flex;
    align-items: center;
    height: 60%;
    padding: 0 0.5em;
    border-radius: 0.5em;
    margin: 0 0.1em;
}

.site-header nav a:focus,
.site-header nav a:hover {
    background-color: dodgerblue;
    color: white;
    outline: none;
}