<header>
    <a routerLink="/home">Home</a>
    <div class="header-right">
        <span *ngIf="authService.isAuthenticated()">
            <a *ngIf="authService.isAdmin()" routerLink="/books/create">Create book</a>
            <a routerLink="/lists/myLists">{{username}}'s lists</a>
            <a routerLink="/lists/create">Create list</a>
            <a routerLink="#" (click)="logout()">Logout</a>
        </span>
        <span *ngIf="!authService.isAuthenticated()">
            <a routerLink="/users/register">Register</a>
            <a routerLink="/users/login">Login</a>
        </span>
    </div>
</header>
