.register {
    padding-top: 2em;
}

.register h1 {
    text-align: center;
}
 
.register form {
    display: grid;
    width: 25%;
    margin: 0 auto;
}

.register input {
    padding: 10px;
    margin-bottom: 20px;
}

.register button {
    width: 50%;
    height: 40px;
    margin:0 auto;
    border: 2px solid dodgerblue;
    text-align: center;  
    font-size: 14px;
    background: dodgerblue;
    color: white;
    border-radius: 7px;
    margin-top: 20px; 
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.5); 
}

.register button:hover {
    color: dodgerblue;
    background: transparent;
}
 
.danger {
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 20px;
    border-radius: 10px;
}

button:disabled {
    cursor: not-allowed;
}