<div class="details-card">
    <section class="book-picture">
        <img src={{book.imageUrl}} alt="book"/>
    </section>
    <section class="book-info">
        <section class="book-data">
            <div class="data-row">
                <h3>title</h3>
                <h4>{{book.title}}</h4>
            </div>
            <div class="data-row">
                <h3>grade</h3>
                <h4>{{book.grade}}</h4>
            </div>
            <div class="data-row">
                <h3>author</h3>
                <h4>{{book.author}}</h4>
            </div>
            <div class="data-row">
                <h3>subject</h3>
                <h4>{{book.subject}}</h4>
            </div>
            <div class="data-row">
                <h3>year</h3>
                <h4>{{book.year}}</h4>
            </div>
            <div class="data-row">
                <h3>publisher</h3>
                <h4>{{book.publisher}}</h4>
            </div>
            <div class="data-row">
                <h3>price</h3>
                <h4>{{book.price.toFixed(2)}} lv.</h4>
            </div>
        </section>
        <section class="book-description">
            <header class="description-header">
                <h2>description</h2>
            </header>
            <main class="description-main">
                <p>{{book.description}}</p>
            </main>
        </section>
    </section>
</div>