<article class="item-card">
    <section class="item-image">
        <img src={{book.imageUrl}} alt="book"/>
    </section>
    <section class="item-main">
        <section class="item-data">
            <div class="item-row">
                <h3>title</h3>
                <h4>{{book.title}}</h4>
            </div>
            <div class="item-row">
                <h3>grade</h3>
                <h4>{{book.grade}}</h4>
            </div>
            <div class="item-row">
                <h3>publisher</h3>
                <h4>{{book.publisher}}</h4>
            </div>
            <div class="item-row">
                <h3>author</h3>
                <h4>{{book.author}}</h4>
            </div>
            <div class="item-row">
                <h3>year</h3>
                <h4>{{book.year}}</h4>
            </div>
            <div class="item-row">
                <h3>price</h3>
                <h4>{{book.price.toFixed(2)}} lv.</h4>
            </div>
        </section>
        <section class="item-delete">
            <button class="btn delete-btn" (click)="emitId()">Remove book</button>
        </section>
    </section>
</article>

<!-- <div class="item">
    <div class="item-image">
        <img src={{book.imageUrl}} />
    </div>
    <div class="item-table">
        <table align="left">
            <tbody>
                <tr>
                    <th>Title</th>
                    <td>{{book.title}}</td>
                </tr>
                <tr>
                    <th>Grade</th>
                    <td>{{book.grade}}</td>
                </tr>
                <tr>
                    <th>Author</th>
                    <td>{{book.author}}</td>
                </tr>
                <tr>
                    <th>Publisher</th>
                    <td>{{book.publisher}}</td>
                </tr>
                <tr>
                    <th>Year</th>
                    <td>{{book.year}}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{book.price.toFixed(2)}} lv.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button (click)="emitId()">Remove</button>
</div> -->
